@import "../vars.scss";

.button {
  outline: none;
  background-color: $light-green;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #a4e97a;
  }

  &--small {
    min-height: 30px;
  }

  &--orange {
    background-color: $main-orange;
    &:hover {
      background-color: #e96c45;
    }
  }

  &--white {
    background-color: $main-white;
    color: $main-green;
  }

  &--outline {
    background: transparent;
    border: 1px solid white;
  }
}
