@import "../vars.scss";

.button {
  outline: none;
  background-color: #74c946;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $light-green;
  }

  &--small {
    min-height: 35px;
  }

  &--orange {
    background-color: $main-orange;
    &:hover {
      background-color: #e96c45;
    }
  }

  &--white {
    background-color: $main-white;
    color: $main-green;
  }

  &--outline {
    background: transparent;
    border: 1px solid white;

    &:hover {
      border: none;
      background-color: #9bd879;
    }
  }
}

@media (min-width: 910px) {
  .button {
    font-size: 16px;
  }
}
