@import "../../vars.scss";

.c-donate {
  width: 90%;
  max-width: 1030px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: $space-section-small;

  &__definition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .definition__image {
      display: none;
    }

    .definition__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        margin-bottom: 30px;
      }
      p {
        width: 90%;
        text-align: justify;
        margin-bottom: 25px;
        line-height: 15px;
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    overflow-x: scroll;

    h3 {
      text-align: center;
      margin-bottom: 25px;
    }
    .donate__options {
      width: 100%;
      display: flex;
      flex-direction: row;
      // overflow-x: scroll;
      padding-bottom: 5px;
      &::-webkit-scrollbar {
        // margin-top: 5px;
        // background-color: $third-green;
        // opacity: 0;
        // width: 2px;
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $third-green;
        border-radius: 2px;
      }
    }
  }
}

@media (min-width: 650px) {
  .c-donate {
    &__definition {
      flex-direction: row;

      .definition__image {
        display: block;
        min-width: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .c-donate {
    margin-bottom: $space-section;
  }
}

@media (min-width: 920px) {
  .c-donate {
    &__options {
      .donate__options {
        max-width: 1030px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .c-donate {
    margin-bottom: $space-section-big;
  }
}
