@import "../../vars.scss";

//Styles for experience section
.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: $space-section-small;
  padding-top: 20px;

  h2 {
    margin-bottom: 50px;
    color: $main-green;
  }

  &::after {
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(
      95deg,
      rgba(32, 80, 51, 1) 0%,
      rgba(182, 150, 94, 1) 100%
    );
    position: absolute;
    top: calc(50% - 100px + 26px);
  }
}

//styles for Experience carousel
//> contains inside swiper component
//> contains inside swiper buttons (Move from swiper to here)
.experience__carousel {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  //overwrite styles for swiper components
  .swiper-button-prev,
  .swiper-button-next {
    position: initial;
    display: none;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

//styles for card inside carousel
// width of elements depends of (slides in view -> property of swiper component)
// set max-width to prevent oversize images
.experience {
  .experienceCard {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 350px;
    width: 100%;
    flex-direction: column;
    max-width: 270px;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      position: absolute;
    }

    .button {
      transition: all 0.3s;
      z-index: 1;
      margin-bottom: 25px;
      transform: translateY(60px);
    }

    &:hover {
      .button {
        transform: translateY(0);
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background-color: rgba(0, 0, 0, 0.138);
      }
    }

    h3 {
      width: 100%;
      text-align: center;
      color: white;
      z-index: 1;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 425px) {
  .experience__carousel {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      min-width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $main-white;
      margin-top: 0;
      align-items: center;
      justify-content: center;

      &::after {
        color: $main-black;
        font-weight: bold;
        font-size: 22px;
      }
    }

    .swiper-button-prev.visibility,
    .swiper-button-next.visibility {
      display: flex;
    }

    .swiper {
      box-sizing: content-box;
      margin: 0 20px;
    }
  }
}

@media (min-width: 750px) {
  .experience__carousel {
    .swiper {
      box-sizing: content-box;
      margin: 0 50px;
    }
  }
}

@media (min-width: 768px) {
  .experience {
    margin-bottom: $space-section;
  }
}

@media (min-width: 1024px) {
  .experience {
    margin-bottom: $space-section-big;
    &::after {
      top: calc(50% - 100px + 40px);
    }
  }
}
