@import '../../vars.scss';


.new{
  display: flex;
  flex-direction: column;
  position: relative;
  
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;

  .notification{
    position: absolute;
    top: 0px;
    left: 0;
  }

  img{
    width: 100%;
    height: 130px;
    object-fit: cover;
  }

  &__text{
    padding: 8px 8px 15px;
    background-color: white;

    h4{
      margin: 10px 0;
    }

    p{
      text-align: justify;
      margin-bottom: 15px;
      line-height: 15px;
      //me permite cortar texto
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      hyphens: auto;

    }
    .more{
      cursor: pointer;
      color:$main-green ;
      font-weight: bold;
      text-align: center;
    }
  }


}

@media (min-width:910px) {
  .new{
 
    .new__text{
      padding: 15px;
    }
    p{
      -webkit-line-clamp: 3;
    }
    img{
      min-width: 150px;
      height: 161px;
    }
    
  }
}