@import "../../vars.scss";

.ods {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  max-width: 750px;
  margin-bottom: $space-section-small;

  img {
    width: 100%;
  }

  a {
  }
  .button {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .ods {
    margin-bottom: $space-section;
  }
}

@media (min-width: 1024px) {
  .ods {
    margin-bottom: $space-section-big;
  }
}
