@import '../../vars.scss';

.partners {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  max-width: 1240px;
  margin-bottom: $space-section-small;


  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .swiper {
    height: 100px;
    padding: 5px 0;
    display: flex;
  }

  .swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  img {
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 768px) {
  .partners {
    margin-bottom: $space-section;
    .swiper {
      height: 150px;
    }
  }
}

@media (min-width: 910px) {
  .partners {
    h2 {
      margin-bottom: 40px;
    }
  }
}
