.newDescription{
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 90%;
  max-width: 1030px;
  margin-bottom: 100px;

  .notification{
    margin-bottom: 20px;
  }

  h2{
    text-align: left;
    margin-bottom: 20px;
  }

  .date{
    margin-bottom: 20px;
  }

  img{
    width: 100%;
    max-width: 450px;
    height: 250px;
    
    //TODO revisar la imagen
    object-fit: fill;
    margin-bottom: 30px;
    float: none;
  }
  p{
    text-align: justify;
  }
}


@media (min-width:530px) {
  .newDescription{
    float: right  ;
    img{
      max-width: 300px;
      margin: 0px 0px 20px 20px;
      float: right;
    }
  }
}

@media (min-width:768px) {
  .newDescription{
    img{
      max-width: 400px;
    }
  }
}

@media (min-width:910px) {
  .newDescription{
    img{
      margin: 0 0 20px 30px;
    }
  }
}