@import "../../../vars.scss";

.newDescription {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 90%;
  max-width: 1030px;
  margin-bottom: 100px;

  .notification {
    max-width: 102px;
    margin-bottom: 20px;
    background-color: #d1342a;
  }

  h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .date {
    margin-bottom: 20px;
  }

  &__img {
    align-self: center;
    width: 100%;
    max-width: 600px;
    height: 250px;
    margin-bottom: 30px;
    object-fit: cover;
  }

  .content {
    text-align: justify;
    margin-bottom: 30px;
  }
  .share {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: end;
    .iconFooter {
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      path {
        fill: #343434;
      }
      &:hover path {
        fill: $light-green;
      }
    }
  }
}

@media (min-width: 530px) {
  .newDescription {
    &__img {
      height: 300px;
    }
  }
}

@media (min-width: 768px) {
  .newDescription {
    &__img {
      height: 350px;
    }
  }
}

@media (min-width: 910px) {
  .newDescription {
    .notification {
      max-width: 122px;
    }
    &__img {
      max-width: 900px;
      height: 450px;
    }
  }
}
