@import "./vars.scss";

.footer {
  width: 100%;
  margin-top: auto;
  background: linear-gradient(
    180deg,
    rgba(238, 242, 237, 0.226085) 0%,
    rgba(222, 230, 221, 0.670638) 0.01%,
    rgba(231, 236, 230, 0.494562) 10.94%,
    rgba(231, 236, 230, 0.494562) 12.5%,
    rgba(227, 233, 226, 0.57964) 29.17%,
    rgba(214, 223, 213, 0.840193) 80.21%,
    #ced9cd 100%
  );

  .copyright {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
    background-color: $main-green;
    color: white;
  }

  .top {
    margin: 30px auto 20px;
    width: 90%;
    max-width: 1100px;
    display: grid;
    gap: 20px;

    .footer__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      .footer__socialMedia {
        display: none;
      }
      .footer__mainLogo {
        justify-self: center;
        width: 210px;
      }
    }

    .footer__socialMedia {
      display: flex;
      justify-self: center;
      justify-content: space-evenly;
      width: 200px;
      a {
        height: 24px;
      }
    }

    .footer__contact {
      .footer__contactCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        svg {
          margin-right: 8px;
        }
      }
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      a {
        color: black;
        margin-bottom: 5px;
      }
    }

    .iconFooter {
      cursor: pointer;
      width: 24px;
      height: 24px;
      path {
        fill: #343434;
      }
      &:hover path {
        fill: $light-green;
      }
    }
  }

  &__blockTitle {
    font-size: 16px;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
  }

  .contact {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .footer {
    .top {
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      .footer__logo {
        .footer__socialMedia {
          display: flex;
          margin-top: 10px;
        }
      }

      .footer__socialMedia {
        justify-self: center;
        display: none;
      }

      .footer__contact {
        justify-self: center;
      }

      .footer__links {
        justify-self: center;
      }
    }

    p {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

@media (min-width: 910px) {
  .footer {
    .top {
      .footer__logo {
        .footer__mainLogo {
          width: 240px;
        }
      }
    }
  }
}
