@import '../styles/vars.scss';

.paginationIndex{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;

  .indexNumber{
    padding: 10px;
    margin-right: 20px;
    &:first-child{
      background-color: aqua;
    }
    &:hover{
      background-color:$light-green;
    }
    
  }
  .previous{
    margin-right:10px;
  }
}