@import "../styles/vars.scss";

.paginationIndex {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .indexNumber {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
    color: black;
    border-radius: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &:hover {
      // background-color:$light-green;
      color: $light-green;
    }

    &--selected {
      background-color: $second-green;
      color: white;
    }
  }

  .icon {
    width: 18px;
    height: 12px;
    background-image: url("../images/icons/next.svg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    cursor: pointer;
  }

  .previous {
    margin-right: 20px;
    transform: rotate(-180deg);
  }
}
