$main-black: #333333;

// $main-green: #265835;
// $main-green: #205033;
$main-green: #2a5b4b;
$second-green: #3b7b14;
$third-green: #498a42;
$light-green: #92d669;

$subTitle-color: #205033;

$main-orange: #df4515;

$main-white: #ffffff;

$main-brown: #b2945d;
$light-brown: #e3c293;

$title-font: "Raleway";
$body-font: "Nunito";


$space-section:85px;
$space-section-small:50px;