.newsContainer{
  margin: 60px auto;
  width:90%;
  max-width:1040px;
  display: grid;
  gap: 40px;
}

@media (min-width:768px) {
  .newsContainer{
    grid-template-columns: repeat(auto-fill,minmax(288px,1fr))
  }
}