.c-dropDownList {
  max-width: 800px;
  margin-bottom: 5px;

  &-text {
    padding: 10px 20px;
    background-color: #f1f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-content {
    display: none;
    padding: 20px 10px;
    max-height: 0;
  }

  .visibility {
    display: flex;
    max-height: 400px;
  }
}
