@import "../../vars.scss";

.experienceDescription {
  width: 90%;
  max-width: 1030px;
  margin: 0 auto;
  margin-top: 40px;

  .notification {
    width: 84px;
    margin-bottom: 25px;
  }
  .inAction {
    background-color: $light-green;
    width: 105px;
  }

  .c-gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .gallery__carousel {
      width: 90%;
      align-self: center;
      max-width: 1100px;
      display: flex;

      .experience__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .c-dateRange {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .dateRange {
      display: flex;
      flex-direction: row;

      &:first-child {
        margin-bottom: 10px;
      }
      &__text {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }

  h2 {
    text-align: start;
    margin-bottom: 20px;
  }
  p {
    text-align: justify;
  }

  h3 {
    color: $main-green;
    margin-bottom: 30px;
    text-align: left;
  }

  .dataSheet {
    margin-bottom: 80px;

    h4 {
      font-size: 16px;
    }

    .c-team {
      &-names {
        display: grid;
        width: 100%;

        .person {
          width: 100%;
          max-width: 400px;
          margin-bottom: 20px;
          .team-name {
            text-align: center;
          }

          .team-job {
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }

    .c-partners {
      .g-partners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .partner__img {
          width: 250px;
          height: 80px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: white;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .experienceDescription {
    .c-team {
      &-names {
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .c-dateRange {
      flex-direction: row;
      justify-content: space-around;
    }

    .dataSheet {
      .c-partners {
        .g-partners {
          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 20px;
        }
      }
    }
  }
}

@media (min-width: 910px) {
  .experienceDescription {
    .notification {
      width: 102px;
    }
    .inAction {
      width: 120px;
    }
  }
}
