@import "../../vars.scss";

.newDescription {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 90%;
  max-width: 1030px;
  margin-bottom: 100px;

  .notification {
    max-width: 102px;
    margin-bottom: 20px;
    background-color: #d1342a;
  }

  h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .date {
    margin-bottom: 20px;
  }

  &__img {
    align-self: center;
    width: 100%;
    max-width: 600px;
    height: 250px;
    margin-bottom: 30px;
    object-fit: cover;
  }

  .content {
    text-align: justify;
    margin-bottom: 40px;
  }

  &__share{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-content: center;
    justify-content: center;

    .published{
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-bottom: 15px;
      
      p{
        align-self: center;
      }

      .authorPost{
        margin-left: 10px;
        font-weight: bold;
      }

      .postLink{
        font-size: 14px;
        margin-left: 5px;
      }
    }

    .share {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-self: flex-end;
      .iconFooter {
        cursor: pointer;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        path {
          fill: #343434;
        }
        &:hover path {
          fill: $light-green;
        }
      }
    }
  }



  
}

@media (min-width: 530px) {
  .newDescription {
    &__img {
      height: 300px;
    }
    &__share{
      flex-direction: row;
      .published{
        margin-bottom: 0;
        margin-right: 40px;
      }
    }
  }
}

@media (min-width: 768px) {
  .newDescription {
    &__img {
      height: 350px;
    }
  }
}

@media (min-width: 910px) {
  .newDescription {
    .notification {
      max-width: 122px;
    }
    &__img {
      max-width: 900px;
      height: 450px;
    }
  }
}
